<div class="container-fluid col-md-6">
  <h3 class="text-center lead">Add Member to Racing Team</h3>
  <button class="btn btn-success mt-n4 pull-right" routerLink="/members">
    <i class="fa fa-arrow-left"></i> Back to Members
  </button>

  <br />

  <section [hidden]="currentMode == 'edit'">
    <div class="form-group col-md-12">
      <label class="col-md-2 control-label font-weight-bold p-0" for="firstName">First Name</label>
      <span id="firstName" class="col-md-10 d-inline p-0">{{currentMember?.firstName}}</span>
    </div>

    <div class="form-group col-md-12">
      <label class="col-md-2 control-label font-weight-bold p-0" for="lastName">Last Name</label>
      <span id="lastName" class="col-md-10 d-inline p-0">{{currentMember?.lastName}}</span>
    </div>

    <div class="form-group col-md-12">
      <label class="col-md-2 control-label font-weight-bold p-0" for="jobTitle">Job Title</label>
      <span id="jobTitle" class="col-md-10 d-inline p-0">{{currentMember?.jobTitle}}</span>
    </div>

    <div class="form-group col-md-12">
      <label class="col-md-2 control-label font-weight-bold p-0" for="teamName">Racing Team</label>
      <span id="teamName" class="col-md-10 d-inline p-0">{{currentMember?.teamName}}</span>
    </div>

    <div class="form-group col-md-12">
        <label class="col-md-2 control-label font-weight-bold p-0" for="status">Status</label>
        <span id="status" class="col-md-10 d-inline p-0">{{currentMember?.status}}</span>
    </div>

    <div class="form-group text-align-center">
      <button class="btn btn-primary" (click)="toggleView('edit');">
          <i class="fa fa-edit"></i>  Edit Member
      </button>
    </div>
  </section>

  <form class="form-horizontal" #editForm="ngForm" [hidden]="currentMode == 'view'" (ngSubmit)="onSubmit(editForm)">
      <fieldset>
        <div class="form-group">
          <label class="col-md-12 control-label" for="firstName" [ngClass]="{'error': !firstName.valid }">
            <span class="required">*</span>First Name
            <span class="error" *ngIf="!firstName.valid"> is Required!</span>
          </label>
          <div class="col-md-12">
            <input required [(ngModel)]="currentMember.firstName" id="firstName" name="firstName" type="text" class="form-control input-md" #firstName="ngModel" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-12 control-label" for="lastName" [ngClass]="{'error': !lastName.valid }">
            <span class="required">*</span>Last Name
            <span class="error" *ngIf="!lastName.valid"> is Required!</span>
          </label>
          <div class="col-md-12">
            <input required [(ngModel)]="currentMember.lastName" id="lastName" name="lastName" type="text" class="form-control input-md" #lastName="ngModel" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-12 control-label" for="jobTitle" [ngClass]="{'error': !jobTitle.valid }">
              <span class="required">*</span>Job Title
              <span class="error" *ngIf="!jobTitle.valid"> is Required!</span>
          </label>
          <div class="col-md-12">
            <input required [(ngModel)]="currentMember.jobTitle" id="jobTitle" name="jobTitle" type="text" class="form-control input-md" #jobTitle="ngModel" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-12 control-label" for="teamName" [ngClass]="{'error': !teamName.valid }">
            <span class="required">*</span>Racing Team
            <span class="error" *ngIf="!teamName.valid"> is Required!</span>
          </label>
          <div class="col-md-12">
            <select class="form-control" id="teamName" required [(ngModel)]="currentMember.teamName" name="teamName" #teamName="ngModel">
              <option *ngFor="let team of teams" [value]="team.teamName" >{{team?.teamName}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-12 control-label" for="radios" [ngClass]="{'error': !status.valid }">
            <span class="required">*</span>Status
            <span class="error" *ngIf="!status.valid"> is Required!</span>
          </label>
          <div class="col-md-12">
            <label class="radio-inline mr-3" for="active-status">
              <input type="radio" name="status" id="active-status" value="Active" checked="checked" [(ngModel)]="currentMember.status" #status="ngModel" />
               Active
            </label>
            <label class="radio-inline" for="inactive-status" [ngClass]="{'error': !status.valid }">
              <input type="radio" name="status" id="inactive-status" value="Inactive" [(ngModel)]="currentMember.status" #status="ngModel" /> Inactive
            </label>
          </div>
        </div>

        <div class="form-group text-align-center">
          <button class="btn btn-primary"  [disabled]="!editForm.form.valid">
              <i class="fa fa-save"></i> Submit
          </button>
          <a class="btn btn-danger" (click)="toggleView('view', true);">
              <i class="fa fa-times-circle"></i> Cancel
          </a>
        </div>
      </fieldset>
  </form>
</div>
